header {
    background-color: black;
    text-align: center;
}

.ehn {
    text-align: left;
    background-color: gainsboro;
    padding: 20px;
    margin: 20px;
}

.hoyr{
    background-color: #0077b6;
    padding: 20px;
    margin: 20px;
}

.gurav {
    background: rgb(238,174,202);
    background: radial-gradient( rgba(238,174,202,1) 11%, rgba(148,187,233,1) 100%);
    padding: 20px;
    margin: 20px;
}