#container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 100vw;

}

header {
    background-color: white;
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 50;
}

#menu {
    display: flex;
    justify-content: flex-end;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

p, h2{
    font-size: 20px;
}
#minii {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

header a {
    text-decoration: none;
    color: black;
}

#logo {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}


#search, #heart, #shop {
    margin: 10px;
}


.nuur {
    margin-top: 40px;
    height: 400px;
}


#uu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom:0 ;
}

#pra {
    margin: 0;
    padding: 0;
    text-align: center;
}

.btn a {
    width: 50px;
    background: black;
    color: white;    
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 30%;
    text-align: center;
    text-decoration: none;
    
}


.btn {
    display:flex ;
    justify-content: center;
}
.btn2 {
    display:flex ;
    justify-content: center;
}

.card-link {
    position: relative;
    /* width: 50vw; */
   
}
.card-links{
    display: flex;
    width: 100vw;
}
.imgWidth{
     width: 50vw;
     height: 100%;
     object-fit: cover;
     
}
.text{
    position: relative;
    bottom: 180px;
    left: 50px;
    color: white;
}



.btn2 a{
    width: 150px;
    background: black;
    color: white;    
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 30%;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

#im3 {
    width: 100vw;
    
}

#gutal {
    display: flex;
    justify-content: space-around;
}
.gutal {
    display: flex;
    justify-content: space-around;
}

.gutal img {
    display: flex;
    justify-content: space-around;
    width: 200px;
    border-radius: 20px;
}

.gutal h3 {
    display: flex;
    position: absolute;
    color: black;
    font-size: 20px;
}

.zurg3 {
    display: flex;
    justify-content: space-around;
}


.card-link2 {
    position: relative;
   
}
.card-links2{
    display: flex;
    gap: 20px;
 
}

.imgWidth2{
     width: 30vw;
     display: flex;
}
.text2{
    position: relative;
    bottom: 180px;
    left: 20px;
    color: white;
    margin: 0;
    padding: 0;
}





footer {
    display:flex ;
    justify-content: space-around;
   
}

a:hover {
    background-color: rgb(207, 207, 207);
}
header a:hover {
    background-color: rgb(207, 207, 207);
}
.btn3 a:hover {
    background-color: rgb(207, 207, 207);
}


.btn3 a{
    width: 50px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);    
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 30%;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

@media screen and (min-width: 320px)
and (max-width: 480px) {
    .nuur {
        margin-top: 40px;
        width: 100vw;
    }
    #uu {
        text-align: center;
        font-size: large;
    }
    #pra {
        font-size: medium;
    }
    
        .btn a {
            width: 35px;
            background: black;
            color: white;    
            margin-top: 10px;
            margin-bottom: 15px;
            padding: 5px;
            padding-right: 8px;
            border-radius: 30%;
            text-align: center;
            text-decoration: none;
            font-size: small;
        }

        .card-links{
            display: flex;
            flex-wrap: wrap;
    
        }
        .imgWidth{
            width: 100vw;
            object-fit: cover;
        }
        .btn2 a {
            width: 80px;
            background: black;
            color: white;    
            margin-top: 10px;
            margin-bottom: 15px;
            padding: 5px;
            padding-right: 8px;
            border-radius: 30%;
            text-align: center;
            text-decoration: none;
            font-size: small;
        }
        #uu{
            font-size: 30px;
        }
        #gt{
            font-size: 30px;
        }

        #nk {
            font-size: 30px;
        }
    
    #gutal{
        flex-direction: column;
    }


    .card-links2{
        display: flex;
        flex-direction: column;
        width: 100vw;
       
    }
    .imgWidth2{    
        width: 100vw;
        height: 100%;
       
    }
    footer  {
        font-size: 20px;
    }

    footer  p{
        font-size: 10px;
    }
#minii {
    font-size: medium;
}
   #menu img{
    width: 20px;
    gap: 0px;
   }

   #logo a{
    width: 15px;
    margin-right: 20px;
   }
   #container {
    width: 100vw;
   }

}
main{
    width: 100vw;
}


