.nav {
    background-color: aquamarine;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
   
    
}

.ygan {
    background-color: blueviolet;
    height: 100vh;
    width: 10vw;
    position: fixed;
    top: 10vh;
    left: 0;
    
}
.gol {
    background-color: aqua;
    width: 90vw;
    height: 80vh;
    display: flex;
    position: fixed;
    top: 20vh;
    left: 10vw;
    
}

#ngoon   {
    background-color: darkgreen;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
}
#ngoonuud {
    display: flex;
    justify-content:  space-evenly;
    background-color: aquamarine;
    width: 100vw;
    
    
}

.saaral{
    background-color: rgb(202, 196, 196);
    display: flex; 
    align-items: center;
    justify-content: center;
    color: black;
    font-size: larger;
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 10vh;
    width: 90vw;
}


.ehnii {
    background-color:rgb(202, 196, 196);
    height: 300px;
    width: 370px;
    display: flex;
    position: relative;
    top: 5vh;
    left: 10vw;
    
}

.ulbrshar {
    background-color: orange;
    height: 178px;
    width: 338px;
    display: flex;
    justify-content:center; 
    align-items:center ;
    position: relative;
    top: 16px;
    left: 16px;
}

.shar {
    background-color: gold;
    height: 84px;
    width: 338px;
    display: flex;
    justify-content:center; 
    align-items:center ;
    position: absolute;
    top: 210px;
    left: 16px;
}

.tsnher {
    background-color: rgb(0, 174, 255);
    height: 68px;
    width: 68px;
    display: flex;
    justify-content:center; 
    align-items:center ;
    position: absolute;
    top: 8px;
    left: 8px;
}

.desc {
    background-color: rgb(196, 214, 223);
    height: 68px;
    width: 244px;
    display: flex;
    justify-content:center; 
    align-items:center ;
    position: absolute;
    top: 8px;
    left: 84px;
}

.vid {
 display: flex;
    gap: 100px  ;
    flex-wrap: wrap;
}


@media screen and (min-width: 0px) and (max-width: 480px) {
    
    #ngoon   {
        padding-left: 25px;
        padding-right: 25px;
       
    }
    .gol {
        top: 18vh;
    }
    
    .saaral{
        height: 8vh;
        
    }
    
    
    .ehnii {
        height: 150px;
        width: 200px;
    
        
    }
    
    .ulbrshar {
        height: 89px;
        width: 169px;
       top: 8px;
    }
    
    .shar {
        height: 42px;
        width: 169px;
        top: 102px;
    left: 16px;
    }
    
    .tsnher {
        
        height: 30px;
        width: 30px;
      
    }
    
    .desc {
        background-color: rgb(196, 214, 223);
        height: 30px;
        width: 120px;
        
        top: 8px;
        left: 45px;
    }
    
    .vid {
     display: flex;
        gap: 100px  ;
        flex-wrap: wrap;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    #ngoon   {
        padding-left: 25px;
        padding-right: 25px;
       
    }
    .gol {
        top: 18vh;
    }
    
    .saaral{
        height: 8vh;
        
    }
    
    
    .ehnii {
        height: 150px;
        width: 200px;
    
        
    }
    
    .ulbrshar {
        height: 89px;
        width: 169px;
       top: 8px;
    }
    
    .shar {
        height: 42px;
        width: 169px;
        top: 102px;
    left: 16px;
    }
    
    .tsnher {
        
        height: 30px;
        width: 30px;
      
    }
    
    .desc {
        background-color: rgb(196, 214, 223);
        height: 30px;
        width: 120px;
        
        top: 8px;
        left: 45px;
    }
    
    .vid {
     display: flex;
        gap: 100px  ;
        flex-wrap: wrap;
    }
    
}

